<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReservasApp">
        <activity
            android:name=".AdminMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmacionEdicionActivity"
            android:exported="false" />
        <activity
            android:name=".EditarDetalleReservaActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmacionReservaActivity"
            android:exported="false" />
        <activity
            android:name=".EditarReservasActivity"
            android:exported="false" />
        <activity
            android:name=".MisReservasActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleReservaActivity"
            android:exported="false" />
        <activity
            android:name=".ReservarActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
